# for loop and while loop

# 1.how to print 1 to 10

In [12]:
# using for loop
for i in range(1,11):
    print(i)
else:
    print("numbers form 1 to 10 using for loop")

1
2
3
4
5
6
7
8
9
10
numbers form 1 to 10 using for loop

In [7]:
# using while loop
n=1
while n<=10:
    print(n)
    n+=1
    
else:
    print("numbers form 1 to 10 using while loop")

0
1
2
3
4
5
6
7
8
9
10
numbers form 1 to 10 using while loop

In [11]:
count = 0

while count < 10:
    count += 1
    print(count)
else:
    print("numbers form 1 to 10 using while loop")

1
2
3
4
5
6
7
8
9
10
numbers form 1 to 10 using while loop

# 2.how to print in reverse order from 10 to 1

In [16]:
# using for loop
for i in range(10,0,-1):
    print(i)
else:
    print("numbers form 10 to 1 using for loop")

10
9
8
7
6
5
4
3
2
1

In [12]:
# using while loop
n=10
while n>0: 
    print(n)
    n-=1
    
else:
    print("numbers form 10 to 1 using while loop")

10
9
8
7
6
5
4
3
2
1
numbers form 10 to 1 using while loop

# 3.how to print even numbers

In [29]:
# using for loop
for i in range(2,21,2):
    print(i)
else:
    print("even numbers form 2 to 20 using for loop")

2
4
6
8
10
12
14
16
18
20
even numbers form 2 to 20 using for loop

In [13]:
# using while loop
n=20
while n>0:
    print(n)
    n-=2
    
else:
    print("even numbers form 20 to 2 using while loop")

20
18
16
14
12
10
8
6
4
2
even numbers form 20 to 2 using while loop

## 4.how to print odd numbers btw 0 to 10

In [20]:
# using for loop
for odd in range(0,10,2):
    odd+=1
    print(odd)
else:
    print("odd numbers form 1 to 10 using for loop")

1
3
5
7
9
odd numbers form 1 to 10 using for loop

In [21]:
# using while loop
odd=1
while odd<10:
    print(odd)
    odd+=2
else:
    print("odd numbers form 1 to 10 using while loop")

1
3
5
7
9
odd numbers form 1 to 10 using while loop

In [1]:
count = 1

while count <= 10:
    if count % 2 != 0:
        print(count)
    count += 1

1
3
5
7
9

# 5.how to check divisibilty of 2

In [7]:
# using for loop
d1=[]
d2=[]
for num in range(1,21):
    if num % 2==0:
        d1.append(num)
    else:
        d2.append(num)
print("these numbers are divisible by 2\n",d1) 
print("these numbers are not divisible by 2\n",d2)

these numbers are divisible by 2
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
these numbers are not divisible by 2
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
# using while loop
d1=[]
d2=[]
num=0
while num<=20:
    num+=1
    if num%2==0:
        d1.append(num)
    else:
        d2.append(num)
print("these numbers are divisible by 2\n",d1) 
print("these numbers are not divisible by 2\n",d2)

these numbers are divisible by 2
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
these numbers are not divisible by 2
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

# 6. how to separate int and str in a list

In [9]:
list1=[1,2,3,4,5,True,"ram","sham","rohit",.345,3+2j,False,2.34,-3.34,4+8j]
d1=[]
d2=[]
d3=[]
d4=[]
d5=[]
for i in list1:
    if type(i)==int:
        d1.append(i)
    elif type(i)==float:
        d2.append(i)
    elif type(i)==str:
        d3.append(i)
    elif type(i)==bool:
        d4.append(i)
    else:
        d5.append(i)
print("Integer values\n",d1) 
print("Float values: \n",d2)
print("String values: \n",d3) 
print("Boolean values: \n",d4)
print("Complex values: \n",d5)

Integer values
 [1, 2, 3, 4, 5]
Float values:
 [0.345, 2.34, -3.34]
String values:
 ['ram', 'sham', 'rohit']
Boolean values:
 [True, False]
Complex values:
 [(3+2j), (4+8j)]

In [18]:
#using while loop
list1=[1,2,3,4,5,True,"ram","sham","rohit",.345,3+2j,False,2.34,-3.34,4+8j]
d1=[]
d2=[]
d3=[]
d4=[]
d5=[]
i=1
while i<len(list1):
    if type(list1[i])==int:
        d1.append(list1[i])
    elif type(list1[i])==float:
        d2.append(list1[i])
    elif type(list1[i])==str:
        d3.append(list1[i])
    elif type(list1[i])==bool:
        d4.append(list1[i])
    else:
        d5.append(list1[i])
    i+=1
print("Integer values\n",d1) 
print("Float values: \n",d2)
print("String values: \n",d3) 
print("Boolean values: \n",d4)
print("Complex values: \n",d5)

Integer values
 [2, 3, 4, 5]
Float values:
 [0.345, 2.34, -3.34]
String values:
 ['ram', 'sham', 'rohit']
Boolean values:
 [True, False]
Complex values:
 [(3+2j), (4+8j)]

# 7. how add 1 in each no. in a list and store it in another list

In [21]:
# using for loop
list2=[0,1,2,3,4,5,6,7,8,9]
d1=[]
for num in list2:
    num+=1
    d1.append(num)
print(d1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# using while loop
list2=[0,1,2,3,4,5,6,7,8,9]
d1=[]
num=0
while num<len(list2):
    list2[num]+=1
    d1.append(list2[num])
num+=1
print(d1)

In [4]:
d1

[2, 4, 8, 16]

In [1]:
2+2

4